.user-message{
    display: flex;
    justify-content: end;
    align-items: end;
}
.bot-message{
    display: flex;
   align-items: start;
}
.message-text{
    align-items: center;
    max-width: 400px;
}
.user-pic{
    height: 40px;
    width: 40px;
}
.bot-pic{
    height: 40px;
    width: 40px;
}